{% extends "layout.html" %}

{% block content %}
  <table style="100%">
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
    {% for user in app.users %}
    <tr>
      <td>{{user['name']}}</td>
      <td>{{user['surname']}}</td>
      <td>{{user['email']}}</td>
      <td>{{user['address']}}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
