{% extends "layout.html" %}

{% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center">
    <img id="logo-index" src="/images/logo.png">
    <h1>Sophie The AI</h1>
    <h2>Une application au service des personnes atteintes d’Alzheimer</h2>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}
