{% block content %}



<body style="background-color:#F0F2F2">
	
		<h1 style="text-align:center;color: #cc6633">Do you want to know more about our Sophie ?</h1>
	

	<table>
	   <tr>
		   <td>
				<div class="container" >
					<div style="margin-right:100px; margin-left:100px">
					   	<h2  >Ask her!</h2>
						<iframe
						    width="350"
						    height="430"
						    src="https://console.api.ai/api-client/demo/embedded/4146b577-288b-4336-9197-43f7502c9246">
						</iframe>
					</div>
				</div>
			</td>

			<td>			
				<h2 style="color: #9ACD32" >Examples of questions you can ask Sophie</h2>
				<ul>
					<li>Who are you?</li>
					<li>How old are you?</li>
					<li>Where are you from?</li>
					<li>Do you want to become a human?</li>
					<li>Where do you work?</li>
					<li>What is your salary?</li>
					<li>where is your family ?</li>
					<li> Are you hungry </li>
					<li>Are you busy?</li>
					<li>Are you real?</li>
					<li>What's up?</li>
					<li>etc</li>

				</ul>
			</td>
		</tr>
	</table>




</body>

<footer style="background:#ccc;
position:absolute;
text-align: center;
bottom:0;
width:100%;
padding-top:20px;
height:15px;" >
	© sophieTheAI
</footer>



{% endblock %}
