{% block content %}

<head>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>

<body>
	<div >
		<h1 style="text-align:center">Do you want to know more about our project ?</h1>
		<h2>Ask Sophie!</h2>
		<div class="container">
			<div style="margin:auto">
				<iframe
				    width="350"
				    height="430"
				    src="https://console.api.ai/api-client/demo/embedded/4146b577-288b-4336-9197-43f7502c9246">
				</iframe>
			</div>
		</div>
	</div>

	<div>
	<h2>Questions you can ask Sophie</h2>
	<ul>
	<li>Who are you?</li>
	</ul>


	</div>


</body>




{% endblock %}
